body {
  background-color: #00bcd4;
  font-family: 'Courier Prime', monospace;
}

.registrasi {
  width: 450px;
  background: whitesmoke;
  padding: 30px 40px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.registrasi h1 {
  text-align: center;
  color: #00bcd4;
  font-size: 30px;
  margin-bottom: 10px;
}

.registrasi label {
  color: #848484;
}

.input {
  color: #00BCD4;
  border-bottom: 2px solid;
  position: relative;
  margin: 30px 0;
}

.input input {
  font-size: 15px;
  color: #00BCD4;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 10px;
  height: 40px;
}

.register {
  display: block;
  width: 40%;
  height: 40px;
  border: none;
  background-color: #00bcd4;
  color: whitesmoke;
  outline: none;
  cursor: pointer;
  margin: 20px 110px 10px;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Courier Prime', monospace;
}