/* Detail PHP CSS */
body {
    background-color: #66bae6;
    text-decoration: none;
}
.container {
    text-align: center;
}
.keterangan {
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.keterangan span{
    font-size: 30px;
    color: black;
    text-transform: uppercase;
}
.tombol-kembali{
    background-color: #66bae6;
}
a{
    color: white;
    text-decoration: none;
}